.books-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
}

.book-card {
    min-width: 30vw;
}

.button-add {
    margin: 15px;
}